DISCORD_BOT_TOKEN=
WOOLIX_API_KEY=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_CALLBACK_URL=http://localhost:8000/webhook/nowpayments
DISCORD_WEBHOOK_URL=
IMAP_HOST=imap.gmail.com
IMAP_USER=
IMAP_PASS=
ZELLE_RECIPIENT_EMAIL=